*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html{
  background-color: rgb(179, 210, 186);
}

.app{
  margin: 0 20px;
}

.title{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin: 20px 0;
}

/* Formulario */
.contenedor-formulario{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 40px 25px;
}

.search{
  width: 100%;
  height: 40px;
}

.contenedor-input{
  width: 80%;
  display: flex;
}

.contenedor-input .boton{
  width: 15%;
  height: 50px;
  background-color: #000;
  color: #fff;
  border-radius: 25px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: all 300ms;
  margin-left: 10px;
}

.input{
  width: 100%;
  line-height: 50px;
  border-radius: 25px;
  text-align: center;
  font-size: 30px;
}


/* Tendencias */
.titulo{
  font-size: 30px;
  font-weight: bold;
  margin: 20px 0;
  text-align: center;
}

.contenedor-tendencia{
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  gap: 50px;
  width: 100%;
  height: 90%;
  margin: 20px 0 0 10px;
  padding: 10px 5px;
  border-radius: 10px;
}

.contenedor-tendencia-tarjeta{
  height: 220px;
  width: 180px;
  cursor: pointer;
  border-radius: 10px;
  transition: all 300ms;
  position: relative; 
  margin: 0 0 70px 0;
}

.imagen-tendencia{
  height: 220px;
  width: 180px;
}

.titulo-tendencia{
  text-align: center;
  font-weight: 500;
  margin: 10px 0;
  color: #000;

}

.contenedor-tendencia::-webkit-scrollbar{
  width: 10px;
  height: 10px;   
}

.contenedor-tendencia::-webkit-scrollbar-thumb{
  background: rgb(168, 167, 167);
  border-radius: 3px;
  height: 5px;
}

/* Categorías */
.subtitulo{
  font-size: 30px;
  font-weight: bold;
  margin: 30px 0;
}

.contenedor-categoria{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0;
}

.categoria-card{
  background-color: yellow;
  margin: 10px 20px;
  cursor: pointer;
  border: black 1px solid;
  border-radius: 10px;
}

.categoria-titulo{
  padding: 5px 40px;
  color: black;
}

.contenedor-peliculas{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin: 0 80px
}

.contenedor-pelicula{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  transition: all 0.3s ease;
  cursor: pointer;
  gap: 20px;
}

.pelicula-imagen{
  width: 100%;
  height: 450px; 
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.pelicula-titulo{
  font-size: 25px;
  text-align: center;
  color: #000;
}

/* Página Detalle */

.contenedor-pelicula-detalle{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titulo-detalle{
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  
}

.datos-detalle{
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen-detalle{
  margin: 20px 40px;
}

.imagen-detalle img{
  border-radius: 20px;
}

.caracteristicas-detalle{
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabla-datos{
  margin: 20px 50px;
  font-size: 50px;
  border: 1px solid black;
}

.tabla-datos td{
  padding: 20px;
  border: 5px solid black;
}


.descripcion-detalle{
  margin: 20px 50px;
  border-radius: 20px;
  border: 5px solid black;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.descripcion-detalle p{
  
  text-align: center;
  font-size: 20px;
  text-align: justify;
}

.hola{
  /* inline */
  display: inline-block;
}

.infinite-scroll-container {
  height: 1000px; /* Establece una altura adecuada */
  overflow-y: scroll; /* Añade desplazamiento vertical si es necesario */
}

/* .generos-detalle{

} */